.sliding-container{
    display: flex;
    margin-left: -25px;
   /*  gap: 10px; */
   /* justify-content: space-around; */
    gap: 90px;
    align-items: center;
    height: 100%;
    overflow: hidden;
    border: 1px solid black;

}